form{
    max-width: 500;
    max-height: 90px auto;
    padding:16px 16px 24px;
    box-shadow: 02px 32px rgba(.5,.5,.5,.75);
    border-radius: 4px;
}
.form-control{
    margin-bottom: input,label{16px,};
    display:block,
}
.input{
    padding:8px,
    height:35px,
    border-radius:4px;
    width:100px;
    border:2px, 100% #ccd;
    background-color:black;
}
.button{
    background-color:blue;
    color:yellow;
    padding:8.5px 25px;
    border-radius:15px;
    width:100%;
    font-size: 1.5rem;
}
body{
    font-family: 'Roboto' sans-serif;
}
.heading{
    text-align: center;
    color:blue;
}

    /* padding:8px,
    height:35px,
    border-radius:4px;
    width:100px;
    border:2px, 100% #ccd;
 */

